<div class="container">
  
  <form (ngSubmit)="login(loginForm)" #loginForm="ngForm" id="login">
    <img id="logo-img" src="assets/fake.svg">

    <div class="form-group">
      <input type="email" class="form-control" id="email" placeholder="email" required [(ngModel)]="email" name="email">
    </div>

    <div class="form-group">
      <input type="password" class="form-control" id="password" placeholder="password" required [(ngModel)]="password" name="password">
    </div>
    <br>
    <div class="button-center">
      <button type="submit" class="btn btn-login" (click)="login(loginForm)">sign in</button>
    </div>
    
  </form>
  <p (click)="navigate()">First time here? <b>Sign up</b> </p>
</div>