.card{
    max-width: 50%;
    margin-left: 10%;
}
/*#greenheader{
    background-color: green;
}*/
mat-card{
    background: rgba(0, 0, 0, 0.315);
    margin-top: 10px;
    color: rgba(255, 255, 255, 0.692);
    border:  solid #46b343 1.25px;
    border-radius: 10px;
}
.btn {
    border-radius: 10px;
    background-color: #46b343; 
    color: rgba(255, 255, 255, 0.692);
    width: 3.5%;
    text-align: center;
}
.buttons {
    text-align: center;
    
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.show{
    margin-bottom: 20px;
    border-radius: 10px;
    background-color: #46b343; 
    color: rgba(255, 255, 255, 0.692);
    width: 7.5%;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}
app-banner{
   /* max-width: 50%;
    float: center;*/

}
app-banner-vertical {
    float: right;
}
.hovereles:hover{
    cursor: pointer;
}
.hovereles{
    margin: 0 auto;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
}
#asd{
    margin-top: 110px;
}

header{
    /*width: 100%;*/
   /* padding: 0px;*/
    
}
#max{
    float: left;
    width: 25%;
    margin-left: 2.5%;
}
#right{
    float: right;
    width: 25%;
}